.input-container {
  margin-bottom: 1.5rem;
  width: 100%;
}

.input-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.input-container input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #3d3d3d;
  border-radius: 4px;
  background-color: #3d3d3d;
  color: white;
  font-size: 1rem;
}

.input-container input::placeholder {
  color: #666;
  text-align: center;
}

.input-container input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.input-container.dark input::placeholder {
  color: #888;
}

.input-container.dark label {
  color: #fff;
}

.input-container.dark input {
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  color: white;
} 